{% extends "base.html" %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{%  static  'css/style.css'  %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="col-md-10 offset-md-1">
    <h3 align="center" class="projects-title">My projects</h3>
  {% for project in projects %}
<div class="card" id="card-horizontal">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% static "" as baseUrl %}
      <img src="{{ baseUrl }}img/{{project.image_path}}" class="card-img" id="card-img-horizontal">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="card-title-horizontal">{{project.title}}</h5>
        <p class="card-text" id="card-text-horizontal">{{project.description}}</p>
        <div>
          <div style="padding-top:1em">
            {% if project.github_link %}
              <a href={{project.github_link}} target="_blank"><img src="{{ baseUrl }}img/github.svg" width="48" height="48" style="margin-right:1em">Code repository</a>
            {% endif %}
          </div>
          <div  style="padding-top:1em">
            {% if project.demo_link %}
              <a href={{project.demo_link}} target="_blank"><img src="{{ baseUrl }}img/{{project.icon}}" width="48" height="48" style="margin-right:1em">Web page</a>
            {% endif %}
          </div>
        </div>
        <div class="project-tech justify-content-left" style="padding-top:1em">
          <h5  style="margin-bottom:1em;  font-size: 1.6rem;">Technological stack</h5>
          <img src={{project.tech_stack_1}}>
          <img src={{project.tech_stack_2}}>
          <img src={{project.tech_stack_3}}>
          <img src={{project.tech_stack_4}}>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

</div >
{% endblock %}