{% extends "base.html" %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{%  static  'css/style.css'  %}">


<div class="col-md-8 offset-md-2">
    <h3 align="center" class="projects-title">My projects</h3>
  {% for project in projects %}
<div class="card" id="card-horizontal">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% static "" as baseUrl %}
      <img src="{{ baseUrl }}img/{{project.image_path}}" class="card-img" id="card-img-horizontal">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text" id="card-text-horizontal">{{project.description}}</p>
        <div class="project-tech justify-content-left">
          <img src={{project.tech_stack_1}}>
          <img src={{project.tech_stack_2}}>
          <img src={{project.tech_stack_3}}>
          <img src={{project.tech_stack_4}}>
        </div>
        <a href={{project.github_link}} class="btn btn-primary" target="_blank">View code</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

</div >
{% endblock %}